{% extends 'base.html' %}



{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
  <li class="breadcrumb-item active"><a href="{% url 'jobs' job.pk %}">{{ job.name }}</a>
  <li class="breadcrumb-item active">Bid</li>
{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">

         <!-- Grid Form -->
         <div class="col order-12">
            {% if request.user.profile.EthereumAccount is None %}
               <p>Show an error to direct user</p>
            {% else %}
               <form method="POST" enctype="multipart/form-data" novalidate>
                  {% csrf_token %}
                  {% include 'includes/form.html' %}
                  <button type="submit" class="btn btn-success">Post</button>
               </form>
            {% endif %}
         </div>
      </div>
       
   </div>
   
{% endblock %}